html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.card {
    width: 600px;
    height: 500px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 4px;
    &__image {
        width: 100%;
    }
    &__info-section {
        padding: 0px 16px;
    }
    &__like-counter {
        margin-bottom: 8px;
        font-weight: bold;
    }
    &__publish-time {
        font-weight: lighter;
        font-size: 8px;
        color: grey;
    }
    &__description {
        margin-bottom: 8px;
    }
}

.profile {
    &__photo {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        align-items: center;
    }
}

.panel {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    &__right, &__left {
        display: flex;
        align-items: center;
    }
}

.action {
    height: 32px;
    width: 32px;
    &__flip {
        transform: rotate(90deg);
    }
    &:hover {
        cursor: pointer;
    }
}

.descripition {
    &__author {
        font-weight: bold;
    }
}

.card__publish-time {
    font-weight: lighter;
    font-style: 12px;
    margin-bottom: 8px;
    color: grey;
}

.input {
    padding: 0 16px;
    color: silver;
}

.post-button {
    font-weight: bold;
    color: #3e9bed;
    border: none;
    background-color: #fff;
}

.divider {
    height: 1px;
    width: 100%;
    background: rgb(237, 237, 237);
}

