
:root{
	--bg_color_1 : #070130;
	--bg_color_2: #0d0065;
	--bg_color_3: #222b5c;
	--bg_music_bar: #2b2b2a;
	--font_color_1: white;
	--font_color_2: lightgrey;
	--font_color_3 : #1DB954;
}
body{
	height: 100%;
	width: 100%;
	margin-left: -5px;
	margin-top: 5px;
	background-color: var(--bg_color_1);
}

nav{
	height: 70px;
	width:100%;
	margin: 3px;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	background-color: var(--bg_color_1);
	position: fixed;
	margin-top: -5px;
}

main{
	height: 150%;
	width:65%;
	margin-top: 10vh;
	margin-left: 4%;
	margin-right: 3%;
	padding-bottom: 20vh;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
}

aside{
	height:auto;
	width:28%;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0px;
	margin-top: 8%;
	margin-left: -1vw;
	vertical-align: top; 
}
.hide{
	display: none; 
}
.music-player{
	width: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.search-bar-utility{
	height: 10px;
	width: 120px;
	display: flex;
	margin-right: 2px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.music-player__logo{
	display: flex;
}
.music-player__logo img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	margin: 10px;
}
.music-player__name{
	color: white;
	font-family: helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	margin-top: -50px;
	margin-left: 70px;

}

.search-bar-utility__search{
	width: 50px;
	margin-top: 12px;
	margin-right: 122px;
	color: white;
	font-size: 20px;
}

.search-bar-utility__search input[type="text"]{
	margin-top: 12px;
	height:30px;
	width:250px;
	margin-left: -300px;
	padding: 1px;
	background-color: #0c0252;
	border:none;
	color:var(--font_color_1);
	font-family: helvetica, sans-serif;
}
::placeholder{
	color: var(--font_color_1);
	font-family: helvetica, sans-serif;
	padding: 5px;
}
.search-bar-utility__search input:focus{
	height:30px;
	width:250px;
	outline:none;
}
.search-bar-utility__search i{
	margin-top: 12px;
}
.notifications{
	font-size: 20px;
	color: var(--font_color_1);
	margin-top: -30px;
	margin-left: 12px;

}
.user-icon__image {
	margin-top: -45px;
	margin-right: 12px;
}
.user-icon__image img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.main-header h1{
	color: var(--font_color_1);
	font-family: helvetica, sans-serif;
}
.new-release__alboms-dots{
	overflow: hidden;
	white-space: nowrap;
}
.new-release__alboms-dots img{
	height:35vh;
	width:35vh;
	text-align: center;
	margin-top: 50px;
	padding: 4%;
	transition: transform 0.7s ease-in-out;

}
.new-release__alboms-dots img:hover{
	transform: scale(1.1);
	transition: transform 0.4s ease-in-out; 
}

.latest-release__alboms{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	margin-right: 5vw;
}
.latest-release h1{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: -5px;
	margin-top: 6vh;
	margin-bottom: -14px;
}
.latest-release__albom{
	height:auto;
	width:300px;
	color: var(--font_color_1);
	font-family: helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 2rem;
	margin-right: 4rem;
}
.latest-item__title{
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 0vw;
}
#latest-release__albom-image{
	height: 100px;
	width: 100px;
	padding: 0px;
	background-image: url(Images/208121.400x400.jpg);
	background-position: center;
	background-size: cover;
	color: var(--font_color_1);
	text-align: center;
	font-size: 1.3rem;
}
#latest-release__albom-image__button{
	margin-top: 40%;
}
#latest-release__albom-image__button a{
	color: var(--font_color_1);
}
#latest-release__albom-image:hover{
	opacity: 0.8;
}
#latest-release__albom-image:hover>.hide{
	display: block;  
}

#dropdown-list{
	height: 50px;
	width: 50px;
	position: absolute;
	margin-left: 23vw;
}
#dropdown-list__menu{
	height:0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	background-color: var(--font_color_1);
	font-family: sans-serif;
	color: #4b5c5e;
    font-weight: 400;
	position: relative;
	z-index: 1;
	padding: 1rem;
	display: none;
}
#dropdown-list__list{
    display: none;
	margin-bottom: 1rem;
}
#dropdown-list__list a{
	text-decoration: none;
	color : #4b5c5e;
}
#dropdown-list:hover #dropdown-list__menu{
	height:150px;
    width: 200px;
	display: block;
}
#dropdown-list:hover #dropdown-list__list{
	display: block;
}
.popular-artists h1{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 6vh;
	margin-left: -5px;
	margin-bottom: -14px;
}
.popular-artists__artists-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.artists-list__first-artist{
	background-image: url(Images/artist-1.jpg);
	background-size: cover;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 2rem;
	margin-right: -1rem;
}
.artists-list__second-artist{
	background-image: url(Images/artist-6.jpg);
	background-size: cover;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 2rem;
}
.artists-list__third-artist{
	background-image: url(Images/artist-2.jpg);
	background-size: cover;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 2rem;
}
.artists-list__fourth-artist{
	background-image: url(Images/artist-5.jpg);
	background-size: cover;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 2rem;
}
.artists-list__fifth-artist{
	background-image: url(Images/artist-3.jpg);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 2rem;
}
.artists-list__sixth-artist{
	background-image: url(Images/taylor-swift-time-100-2019-082-2.jpg);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 2rem;
	margin-right: 2rem;
}
#popular-artists__text{
	text-align: center;
	margin-top: 40%;
	color: var(--font_color_1);
	font-family: sans-serif;
	font-weight: bold;
}
#popular-artists__text a{
	text-decoration: none;
	color: var(--font_color_1);
}
.artists-list__first-artist:hover{
	box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2); 
	opacity: 0.8;
}
.artists-list__first-artist:hover>.hide{
	display: block;
}
.artists-list__second-artist:hover{
	box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
	opacity: 0.8;
}
.artists-list__second-artist:hover>.hide{
	display: block;
}
.artists-list__third-artist:hover{
	box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
	opacity: 0.8;
}
.artists-list__third-artist:hover>.hide{
	display: block;
}
.artists-list__fourth-artist:hover{
	box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
	opacity: 0.8;
}
.artists-list__fourth-artist:hover>.hide{
	display: block;
}
.artists-list__fifth-artist:hover{
	box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
	opacity: 0.8;
}
.artists-list__fifth-artist:hover>.hide{
	display: block;
}
.artists-list__sixth-artist:hover{
	box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
	opacity: 0.8;
}
.artists-list__sixth-artist:hover>.hide{
	display: block;
}
.playlist{
	width:auto;
	height:auto;
	background-color:var(--bg_color_2);
	margin-top: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	align-self: center;
	padding: 10px;
	border-radius: 5px;
}
.playlist__first-option{
	background-image: url(Images/playlist-1.png);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 1.5rem;
    opacity: 0.8;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.playlist__first-option:hover{
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
}
.playlist__second-option{
	background-image: url(Images/playlist-2.jpg);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 1.5rem;
    opacity: 0.8;
    margin-right: 1rem;
}
.playlist__second-option:hover{
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
}

.playlist__third-option{
	background-image: url(Images/playlist-3.jpg);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 1.5rem;
    opacity: 0.8;
    margin-right: 1rem;
}
.playlist__third-option:hover{
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
}
.playlist__fourth-option{
	background-image: url(Images/playlist-4.jpg);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 1.5rem;
    opacity: 0.8;
    margin-right: 1rem;
}
.playlist__fourth-option:hover{
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
}
.playlist__fifth-option{
	background-image: url(Images/playlist-5.jpg);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 1.5rem;
    opacity: 0.8;
    margin-right: 1rem;
}
.playlist__fifth-option:hover{
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
}
.playlist__sixth-option{
	background-image: url(Images/playlist-6.jpg);
	background-size: cover;
	background-position: center;
	height:120px;
	width: 120px;
	border:0px;
	border-radius: 50%;
    margin-top: 1.5rem;
    opacity: 0.8;
}
.playlist__sixth-option:hover{
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
}
.genre{
	padding-top: 120px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	margin-top: 5px;
}
.genre__party{
	height: auto;
	width: auto;
	margin-bottom: 45px;
	padding: 0px;
	transition: transform 0.7s ease-in-out;
}
.genre__electronic{
	height: auto;
	width: auto;
	margin-bottom: 45px;
	padding: 0px;
	transition: transform 0.7s ease-in-out;
}
.genre__road-trip {
	height: auto;
	width: auto;
	margin-bottom: 45px;
	padding: 0px;
	transition: transform 0.7s ease-in-out;
}
.genre__party-background{
	height: 150px;
	width: 250px;
	background-image: url(Images/genre-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 01;
	padding: 0px;
	color: var(--font_color_2);
	font-family: sans-serif;
	font-size: 1.5rem;
	line-height: 8rem;
	font-weight: bold;
	text-align: center;
	color: white;
	margin-bottom: 2rem;
}
.genre__party:hover{
	transform: scale(0.9);
}
.genre__electronic-background{
	height: 150px;
	width: 250px;
	background-image: url(Images/genre-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px;
	margin-right: 10px;
	color: var(--font_color_2);
	font-family: sans-serif;
	font-size: 1.5rem;
	line-height: 8rem;
	font-weight: bold;
	text-align: center;
	color: white;
	margin-bottom: 2rem;
}
.genre__electronic:hover{
	transform: scale(0.9);
}
.genre__road-trip-background{
	height: 150px;
	width: 250px;
	background-image: url(Images/genre-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px;
	margin-left: -20px;
	color: var(--font_color_2);
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: white;
	line-height: 8rem;
	margin-bottom: 2rem;
}
.genre__road-trip:hover{
	transform: scale(0.9);
}
.genre-item-text{
	color: white;
	text-align: center;
	font-family: sans-serif;
	padding: 2%;
	font-size: 1.3rem;
	padding-top: 30px;
	opacity: 1;
	font-weight: 600;
}
.latest-songs h1{
	font-family: sans-serif;
	color: var(--font_color_1);
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 15px;
	margin-top: 6vh;
	margin-left: 1px;
}
.latest-songs__list{
	height:auto;
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.latest-songs__latest-songs__block{
   height:150px;
   width: auto;
   margin-top: 2rem;
   margin-bottom: 1rem;
}
.latest-songs__block-one{
    background-image: url(Images/new-english-1.png);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.5rem;
}
.latest-songs__block-one:hover{
	opacity: 0.8;
}
.latest-songs__block-one:hover>.hide{
	display: block;
}
.latest-songs__block-two{
    background-image: url(Images/new-english-2.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.5rem;
}

.latest-songs__block-two:hover{
	opacity: 0.8;
}
.latest-songs__block-two:hover>.hide{
	display: block;
}
.latest-songs__block-three{
    background-image: url(Images/new-english-3.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.5rem;
}

.latest-songs__block-three:hover{
	opacity: 0.8;
}
.latest-songs__block-three:hover>.hide{
	display: block;
}
.latest-songs__block-four{
    background-image: url(Images/new-english-4.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.5rem;
}

.latest-songs__block-four:hover{
	opacity: 0.8;
}
.latest-songs__block-four:hover>.hide{
	display: block;
}
.latest-songs__block-five{
    background-image: url(Images/new-english-5.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.5rem;
}

.latest-songs__block-five:hover{
	opacity: 0.8;
}
.latest-songs__block-five:hover>.hide{
	display: block;
}
.latest-songs__block-six{
    background-image: url(Images/new-hindi-1.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.3rem;
}

.latest-songs__block-six:hover{
	opacity: 0.8;
}
.latest-songs__block-six:hover>.hide{
	display: block;
}
.latest-songs__block-seven{
    background-image: url(Images/new-hindi-2.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.3rem;
}

.latest-songs__block-seven:hover{
	opacity: 0.8;
}
.latest-songs__block-seven:hover>.hide{
	display: block;
}
.latest-songs__block-eight{
    background-image: url(Images/new-hindi-1.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.3rem;
}

.latest-songs__block-eight:hover{
	opacity: 0.8;
}
.latest-songs__block-eight:hover>.hide{
	display: block;
}
.latest-songs__block-nine{
    background-image: url(Images/new-hindi-4.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.3rem;
}

.latest-songs__block-nine:hover{
	opacity: 0.8;
}
.latest-songs__block-nine:hover>.hide{
	display: block;
}
.latest-songs__block-ten{
    background-image: url(Images/new-hindi-5.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
    text-align: center;
    color: var(--font_color_1);
    font-size: 1.3rem;
}

.latest-songs__block-ten:hover{
	opacity: 0.8;
}
.latest-songs__block-ten:hover>.hide{
	display: block;
}
#latest-songs__latest-songs__button{
	margin-top: 0%;
	position: relative;
	top:37%;
}
.latest-songs__latest-songs__title{
	font-family: sans-serif;
	color: var(--font_color_1);
	text-align: left;
	padding: 5px;
}
.play{
	margin-top: 0%;
}

.queue-music__header{
	height: auto;
	width: 88%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
    margin-bottom: 2vh;
}
.queue-music__title{
	height: auto;
	width: auto;
	font-size: 2rem;
	font-family: sans-serif;
	color: var(--font_color_1);
	font-weight: bold;
	display: inline-flex;
}
.queue-music__dropdown{
	margin-top: 1vh;
	display: inline-flex;
}
.queue-music__dropdown select{
	font-size: 1.3rem;
	font-family: sans-serif;
	color: var(--font_color_3);
	font-weight: bold;
	background-color: var(--bg_color_1);
	border: 0px;
}
.queue-music__dropdown option{
	font-size: 1.3rem;
	font-family: sans-serif;
	color: black;
	background-color: var(--font_color_1);;
	border :0px;
}
.aside-dropdown select:focus{
	outline:none;
}
.queue-music__playlist{
	height: 100px;
	width: 320px;
	background-color: rgb(1, 72, 130,0.5);
	display: flex;
	flex-flow:column wrap;
	margin-top: 1vh;
	border-radius:5px;
}
.queue-music__playlist__image{
	height: 80px;
	width: 80px;
	padding: 1%;
	margin-top: 1.5vh;
	margin-left: 1vw;
	background-image: url(Images/latest-release-2.png);
	background-position: center;
	background-size: cover;
	color: var(--font_color_1);
	text-align: center;
	font-size: 1.3rem;
	border-radius: 3px;
}
.queue-music__playlist__title{
	font-family: sans-serif;
	color: var(--font_color_1);
	font-size: 0.8rem;
	position: relative;
	top:5vh;
}
.queue__now-play{
	margin-left: 180px;
	margin-top: -50px;
	 color: var(--font_color_1);
	font-size: 1.2rem;
}
.music-player-bar{
	height: 100px;
	width: 1500px;
	position: fixed;
	bottom: 0;
	background-color: var(--bg_music_bar);
	opacity: 1;
	color: var(--font_color_1);
	z-index: 15;
}

.music-player-bar__icon{
	display: flex;
	height: 60px;
	width: 60px;
	margin-left: 2vw;
	margin-top: 6px;
	border:2px solid  var(--font_color_1);
	border-top: -214vw;
	margin-top: 1.5%;
	opacity: 10;
}
.music-player-bar__icon img{
	height: 60px;
	width: 60px;
	margin-left: 0;
	position: fixed;
}
.music-player-bar:target{
	display: flex; 
}
.music-player-bar__icon a{
	position: fixed;
	top:12vh;
	left:98%;
	color: var(--font_color_1);
}
.music-player-bar__icon__title{
	color: var(--font_color_1);
	font-family: sans-serif;
	font-size:1rem;
	margin-top: -3.0%;
	margin-left: 7.5%;
}
.music-player-bar__title-artist{
	 color:lightgrey; 
	 font-size:0.8rem;
}
.play-buttons{
	margin-top: -3%;
    margin-left: 42%;
    font-size: 1.5rem;
	margin-bottom: 1%;
}
.play-buttons i{
	padding-right: 4%;
}
.progress-bar{
	height:4px;
	width:510px;
	background-color: var(--font_color_3);
	margin-left: 520px;
	margin-top:-3vh;
	border-radius: 2px;
	bottom: 30%;

}
.circle{
	position: relative;
	top:-6px;
	left:-1px;
}
.favourite-music{
	margin-left: 5px;
	display: inline;
}
.remove-music{
	margin-left: 5px;
   display: inline;
}
.queue-music{
	display: inline;
	margin-left: 76%;
	position: relative;
	bottom: 25%;
}
.volume-music{
	display: inline;
	margin-left: 1180px;
	position: relative;
	bottom: 44%;
}
.volume-music__progress-bar{
	height:4px;
	width:10vw;
	margin-bottom: 40px;
	margin-left: 120px;
	background-color: var(--font_color_3);
	position: fixed;
	left: 1100px;
	top:93.5vh;
	border-radius: 2px;
	display: inline;
}

.volume-music__progress-bar__circle-volume{
	position: relative;
	top:-6px;
	left:0%;
}
.start-time{
	display: inline;
	position: absolute;
	 color: var(--font_color_2);
	font-family: sans-serif;
	position: relative;
	left:28%;
	bottom: 10%;
	margin-left: 60px;
	font-size: 0.8rem;
}
.end-time{
	display: inline;
	position: absolute;
	 color: var(--font_color_2);
	font-family: sans-serif;
	font-size: 0.8rem;
	position: relative;
	margin-left: 133px;
	bottom: 10%;
	left:55%;
}

.single-artist__template{
	height: auto;
	width: 95%;
	background-color: var(--bg_color_2);
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.single-artist__image-second-button{
	height: 60vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)), url(Images/artist-6.jpg); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.single-artist__image-first-section{
	height: 60vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)), url(Images/artist-1.jpg); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.single-artist__image-third-button{
	height: 60vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)), url(Images/artist-2.jpg); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.single-artist__image-fourth-button{
	height: 60vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)), url(Images/artist-5.jpg); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.single-artist__image-sixth-button{
	height: 60vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)), url(Images/taylor-swift-time-100-2019-082-2.jpg); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.single-artist__image-fifth-button{
	height: 60vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)), url(Images/artist-3.jpg); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.single-artist__details{
	height: 60vh;
	width: 54%;
	display: flex;
	flex-direction: column;
	margin-right: 3%;
	margin-left: 1%;
}

.single-artist__details__title{
	height: 20%;
	width: 100%;
	margin-top: 13%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
}

.single-artist__details__title b{
	font-size: 1.5rem;
}
.single-artist__details__title followers{
	font-size: 0.9rem;
	color: var(--font_color_2);
	margin-top: 1.5%;
}



.single-artist__details__title type{
	font-size: 0.9rem;
	color: var(--font_color_2);
	font-weight: bold;
	margin-top: 1rem;
	padding: 0.5rem;
	margin-left: -0.3rem;
}

.single-artist__details__info{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.9rem;
	text-align: justify;
	width: 94%;
}

.single-artist__buttons{
	height: auto;
	width: 55%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10%;
}

.buttons__playall-button{
	height: 1.7rem;
	width: 9rem;
	background-image: linear-gradient(to left, #8A2387, #E94057, #F27121);
	color: white;
    text-align: center;
    font-weight: bold;
    font-family: helvetia, sans-serif;
    border-radius: 0.3rem;
    padding-top: 4%;
}
.buttons__follow-button{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
}
.artist-songs{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3%;
}
.tracks-details{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-size: 0.8rem;
	margin-top: 0.5rem;
}
.songs{
	height: 12vh;
	width: 95%;
	min-width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg_color_3);
	margin-bottom: 2%;
}
.songs img{
	height: 10vh;
	width: 10vh;
	margin-left: 2vw;
}

.songs__number{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
    margin-left: 1vw;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

.icons{
	height: auto;
	width: 4vw;
	color: var(--font_color_2);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-between;
	padding-right: 2%;
}

.songs__details{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 2vw;
	font-size: 0.95rem;
}
.songs__details author{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.8rem;
	margin-top: 1vh;
}

.similar-artist__title{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-size: 1.6rem;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-right: 5vw;
	width: 90%;
}

.similar-artist__title x{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.9rem;
}

.similar-artist__image{
	height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 1.5rem;
	color: var(--font_color_1);
	font-size: 1.3rem;
	margin-bottom: -1.5rem;
}

.image__icon__1{
   background-image: url(Images/artist-2.jpg);
   height: 15vh;
   width: 15vh;
   background-position: center;
   background-size: cover;
   margin-right: -0.5rem;
}
.image__icon__2{
	background-image: url(Images/art-img.jfif);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__3{
	background-image: url(Images/art-img-2.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 
 .image__icon__4{
	background-image: url(Images/artist-7.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__5{
	background-image: url(Images/74d71475c8963c632ff93406a2846453.png);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__6{
	background-image: url(Images/l_WxSl2v_RU.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__7{
	background-image: url(Images/artist-1.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__8{
	background-image: url(Images/art-img-2.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__9{
	background-image: url(Images/art-img.jfif);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__10{
	background-image: url(Images/1111.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__11{
	background-image: url(Images/10133.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__12{
	background-image: url(Images/800x800cc.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__13{
	background-image: url(Images/images1111.jfif);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__14{
	background-image: url(Images/2222.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__15{
	background-image: url(Images/radiohead-2-770x514.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__16{
	background-image: url(Images/ed-sheeran.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__17{
	background-image: url(Images/bruno-mars-01.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
 .image__icon__18{
	background-image: url(Images/a38a2dcf16fedd9c8455ca92e9ff24ae_ce_1080x673x0x83_cropped_960x600.jpg);
	height: 15vh;
	width: 15vh;
	background-position: center;
	background-size: cover;
	margin-right: -0.5rem;
 }
.similar-artist__image i{
	margin-left: 8vw;
}

.similar-artist__title__second-part{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-size: 1.6rem;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-right: 5vw;
	width: 90%;
	margin-top: 2.5rem;
}

.similar-artist__title__second-part {
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.9rem;
}

aside .songs{
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: -1rem;
	background-color: var(--bg_color_1);
}

aside .songs .songs__details{
	font-size: 0.8rem;
}

aside .songs .songs__number{
	width: 70%;
	margin-top: 0.3rem;
}
@media only screen and (max-width: 900px){
	.new-release__alboms-dots img{
		height: 300px;
		width: 200px;
	}
	.music-player__logo img{
       height: 2.2rem;
       width: 2.2rem;
       margin-top: 0.5rem;
	}
	.music-player__name {
		font-size: 0.8rem;
	}
	.user-icon img{
		height: 2.2rem;
		width: 2.2rem;
	}
    .music-player__title-artist{
    	font-size: 0.5rem;
    }
	.notifications{
		font-size: 1rem;
	}

	.search-bar-utility__search{
		font-size: 1rem;
	}
	::placeholder{
		font-size: 0.5rem;
	}
	nav{
		margin-top: -11%;
	}
	main{
		display: block;
		width: 100%;
	}
	aside{
	  margin-top: -9%;
      width: 100%;
      flex-direction: row;
      margin-left: 2rem;
	}
	.aside-dropdown{
		display: none;
	}
	.aside-title{
		font-size: 1.5rem;
	}
	.new-releases img{
		height: 40vh;
	}
	.queue-item{
		width: 250px;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}
    .queue-favourite{
    	margin-left: 130px;
	}
	.genre-item{
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.artist-songs{
		margin-top: 7%;
	}
	.artist-template{
		height: auto;
	}
	.artist-image{
		height: 300px;
	}
	.music-bar{
    	height: 70px;
    }
	.music-icon{
	    height: 40px;
	    width: 40px;
	    margin-top: 1rem;
    }
    .music-icon img{
	    height: 40px;
	    width: 40px;
	}
    .music-title{
	    color: var(--font_color_1);
	    font-family: sans-serif;
	    font-size:0.5rem;
	    margin-top: -35px;
	    margin-left: 60px;
    }
    .music-title artist{
	 color:lightgrey; 
	 font-size:0.2rem;
   }
   .play-buttons{
	   margin-top: -4%;
       margin-left: 350px;
       font-size: 0.8rem;
       margin-top: -1.3rem;
    }
    .play-buttons i{
	   padding-right: 1rem;
    }
    .progress-bar{
	    height:3px;
	    width:200px;
	    background-color: var(--font_color_3);
	    margin-left: 320px;
	    margin-top:-1vh;
	    border-radius: 2px;
     }
     .progress-bar-volume{
	    height:2px;
	    width:70px;
	    background-color: var(--font_color_3);
	    margin-left: -400px;
	    margin-top:-1vh;
	    border-radius: 2px;
     }
     .circle{
     	font-size: 0.5rem;
	    position: relative;
	    top:-4px;
	    left:-1px;
    }
    .circle-volume{
     	font-size: 0.5rem;
	    position: relative;
	    top:-4px;
	    left:-1px;
    }
    .favourite{
	    margin-left: 5px;
	    display: inline;
    }
    .remove{
	    margin-left: 5px;
        display: inline;
     }   
     .queue{
	    display: inline;
	    margin-left: 680px;
	    font-size: 0.5rem;
	    position: relative;
	    bottom: 30%;
    }

    .start-time{
	    display: inline;
	    position: absolute;
	    color: var(--font_color_2);
	    font-family: sans-serif;
	    position: relative;
	    left:290px;
	    top:2.5%;
	    font-size: 0.5rem;
    }
    .end-time{
	    display: inline;
	    position: absolute;
	    color: var(--font_color_2);
	    font-family: sans-serif;
	    font-size: 0.5rem;
	    position: relative;
	    left:520px;
	    top:2.5%;
    }
    .icons i{
	    margin-bottom: 0.5rem;
	    margin-right: 1rem;
   }
}

@media only screen and (max-width: 500px){
	.new-releases img{
		height: 100px;
		width: 110px;
	}
    .music-bar{
    	height: 70px;
    }
	.music-icon{
	    height: 40px;
	    width: 40px;
	    margin-top: 1rem;
    }
    .music-icon img{
	    height: 40px;
	    width: 40px;
	}
    .music-title{
	    color: var(--font_color_1);
	    font-family: sans-serif;
	    font-size:0.5rem;
	    margin-top: -35px;
	    margin-left: 60px;
    }
    .music-title artist{
	 color:lightgrey; 
	 font-size:0.2rem;
   }
   .play-buttons{
	   margin-top: -3%;
       margin-left: 220px;
       font-size: 0.5rem;
       margin-top: -1.3rem;
    }
    .play-buttons i{
	   padding-right: 1rem;
    }
    .progress-bar{
	    height:2px;
	    width:150px;
	    background-color: var(--font_color_3);
	    margin-left: 200px;
	    margin-top:-1vh;
	    border-radius: 2px;
     }
     .progress-bar-volume{
	    height:2px;
	    width:70px;
	    background-color: var(--font_color_3);
	    margin-left: -700px;
	    margin-top:-1vh;
	    border-radius: 2px;
     }
     .circle{
     	font-size: 0.5rem;
	    position: relative;
	    top:-4px;
	    left:-1px;
    }
    .circle-volume{
     	font-size: 0.5rem;
	    position: relative;
	    top:-4px;
	    left:-1px;
    }
    .favourite{
	    margin-left: 5px;
	    display: inline;
    }
    .remove{
	    margin-left: 5px;
        display: inline;
     }   
     .queue{
	    display: inline;
	    margin-left: 380px;
	    font-size: 0.5rem;
	    position: relative;
	    bottom: 23%;
    }

    .start-time{
	    display: inline;
	    position: absolute;
	    color: var(--font_color_2);
	    font-family: sans-serif;
	    position: relative;
	    left:175px;
	    top:2.5%;
	    font-size: 0.5rem;
    }
    .end-time{
	    display: inline;
	    position: absolute;
	    color: var(--font_color_2);
	    font-family: sans-serif;
	    font-size: 0.5rem;
	    position: relative;
	    left:340px;
	    top:2.5%;
    }
    .music-player-title-artist{
    	font-size: 0.5rem;
    }
    .icons i{
	    margin-bottom: 0.5rem;
	    margin-right: 1rem;
   }
   .dropdown-list{
   	margin-left: 300px;
   }
}